{% extends '@CustomISApp/layout.html.twig' %}

{% block page_title %}
    Úprava položky
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_widget(form) }}

        <input type="submit" class="btn btn-primary" value="Uložit změny">
        <a href="{{ path('customis_crudadmin_default_list', {type: type}) }}" class="btn btn-default">Zpět na seznam položek</a>
    {{ form_end(form) }}

{% endblock %}

