{% extends '@CustomISApp/layout.html.twig' %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if editable %}
    <a href="{{ path("customis_crudadmin_default_add", {type: type}) }}" class="btn btn-primary">
        <i class="glyphicon glyphicon-plus"></i>
        Přidat novou položku
    </a>
    {% endif %}
    <table
            class="table table-hover table-striped table-akce dynamic-confirm-config {{ sortable ? 'sortable-table' }}"
            data-confirm-title="Potvrďte prosím položky"
            data-confirm-text="Opravdu chcete smazat položku? Operace je nevratná!"
            data-confirm-method="function"
            data-confirm-callback="smazatRadekTabulky"
            data-sortable-url="{{ path("customis_crudadmin_default_sort", {type: type}) }}"
    >
        <thead>
            <tr>
                {% if sortable %}
                    <th><i class="glyphicon glyphicon-sort"></i></th>
                {% endif %}
                {% for column in columns %}
                    <th>{{ column.label }}</th>
                {% endfor %}
                {% if editable %}
                    <th style="width: 150px">Akce</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr data-sortable-id="{{ row.id }}" {% if sortable %}data-sortable-order="{{ row.poradi }}"{% endif %}>
                    {% if sortable %}
                        <td>
                            <i class="glyphicon glyphicon-resize-vertical sortable-handle"></i>
                        </td>
                    {% endif %}
                    {% for column in columns %}
                        <td>
                            {% set _value = column.value(row) %}
                            {% if column.type == 'boolean' %}
                                {% if _value %}
                                    <i class="glyphicon glyphicon-ok"></i>
                                {% else %}
                                    <i class="glyphicon glyphicon-remove"></i>
                                {% endif %}
                            {% elseif column.type == 'color' %}
                                <span class="label" style="background: {{ _value }}">{{ _value }}</span>
                            {% else %}
                                {{ column.format|format(_value) }}
                            {% endif %}
                        </td>
                    {% endfor %}

                    {% if editable %}
                        <td>
                            <a href="{{ path("customis_crudadmin_default_edit", {id: attribute(row, primaryKey), type: type}) }}" class="btn btn-primary">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a href="{{ path("customis_crudadmin_default_delete", {id: attribute(row, primaryKey), type: type}) }}"
                               class="btn btn-danger delete">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>

                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}

